



    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/random')">
        <div class="carousel-inner-1">
          <%= link_to "Art", arts_path %>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://source.unsplash.com/user/erondu/1600x900')">
        <div class="carousel-inner-1">
          <%= link_to arts_path do  %>
            <div class="btn btn-primary">Show me the Art</div>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://source.unsplash.com/user/erondu/daily')">
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  <div class="container row m-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to arts_path do  %>
            <div class="btn btn-primary">Show me the Art</div>
          <% end %>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to arts_path do  %>
            <div class="btn btn-primary">Show me the Art</div>
          <% end %>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to arts_path do  %>
            <div class="btn btn-primary">Show me the Art</div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="container row m-4">
    <h2></h2>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <%= link_to arts_path do  %>
            <div class="btn btn-primary">Show me the Art</div>
          <% end %>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <%= link_to arts_path do  %>
            <div class="btn btn-primary">Show me the Art</div>
          <% end %>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <%= link_to arts_path do  %>
            <div class="btn btn-primary">Show me the Art</div>
          <% end %>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <%= link_to arts_path do  %>
            <div class="btn btn-primary">Show me the Art</div>
          <% end %>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <%= link_to arts_path do  %>
            <div class="btn btn-primary">Show me the Art</div>
          <% end %>
      </div>
    </div>
  </div>
