<h2 class="m-4" style="text-align:center">About me</h2>

<div class="card">

  <% if current_user.photo.attached? %>
    <img src="<%= cl_image_path current_user.photo.key %>" alt="profile pic" style="width:100%" class="mb-4">
  <% else %>
    <img src="https://www.kindpng.com/picc/m/22-223930_avatar-person-neutral-man-blank-face-buddy-facebook.png" alt="profile pic" style="width:100%" class="mb-4">
  <% end %>

  <h2>Purchase History</h2>
  <p>------------------</p>

  <% @arts.each do |art| %>
    <h3> <%= art.name %> </h3>
    <h5> <%= art.artist %> </h5>
    <h5> £ <%= art.price %> </h5>
    <img src="<%= cl_image_path art.photo.key %>" alt="profile pic" style="width:100%" class="mb-4">
  <% end %>

<%= link_to "Sell art", new_art_path, class:"btn btn-primary" %>

</div>

