<div>
  <body>
    <div id="index-content">


    <div>
      <div id="page-info">
        <h2 style="font-family: 'Montserrat', sans-serif; color: #424242;"><strong>View our Gallery</strong></h2>
        <p>MARZ studio is an art gallery specialising in original contemporary and classical art for sale <br> including paintings and photographs. We are delighted to occasionally host private viewing <br> and special exhibitions. If you like the website feel free to give us a star <a href="https://github.com/MarcusThorne/MARZ_studio">here</a>.</p>
      </div>
      
      <div style="display: flex">
      
        <div style="display: flex; flex-direction: column;">
          <form id="filter" style="display: flex; flex-direction: column;">
            <% if @filter.present? %>
              
              <h4 class="title">Style</h4>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="abstract" value="abstract">
                <label for="abstract">Abstract</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="fine-art" value="fine art" >
                <label for="fine-art">Fine Art</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="modern" value="modern">
                <label for="modern">Modern</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="figurative" value="figurative" >
                <label for="figurative">Figurative</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="abstract-expressionism" value="abstract expressionism" >
                <label for="abstract-expressionism">Abstract Expressionism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="expressionism" value="expressionism" >
                <label for="expressionism">Expressionism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="realism" value="realism" >
                <label for="realism">Realism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="conceptual" value="conceptual" >
                <label for="conceptual">Conceptual</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name=`"filter" type="checkbox" id="impressionism" value="impressionism" >
                <label for="impressionism">Impressionism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="surrealism" value="surrealism" >
                <label for="surrealism">Surrealism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="portraiture" value="portraiture" >
                <label for="portraiture">Portraiture</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="pop-art" value="pop-art" >
                <label for="pop-art">Pop-art</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="minimalism" value="minimalism" >
                <label for="minimalism">Minimalism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="illustration" value="illustration" >
                <label for="illustration">Illustration</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="street-art" value="street-art" >
                <label for="street-art">Street-art</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="documentary" value="documentary" >
                <label for="documentary">Documentary</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="art-deco" value="art-deco" >
                <label for="art-deco">Art-deco</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="photorealism" value="photorealism" >
                <label for="photorealism">Photorealism</label>
              </div>
              <div class="filter-content  style="display: flex;">
                <input name="filter" type="checkbox" id="folk" value="folk" >
                <label for="folk">Folk</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="cubism" value="cubism" >
                <label for="cubism">Cubism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="dada" value="dada" >
                <label for="dada">Dada</label>
              </div>
            
            <% else %>
              
              <h4 class="title">Style</h4>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="abstract" value="abstract">
                <label for="abstract">Abstract</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="fine-art" value="fine art" >
                <label for="fine-art">Fine Art</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="modern" value="modern">
                <label for="modern">Modern</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="figurative" value="figurative" >
                <label for="figurative">Figurative</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="abstract-expressionism" value="abstract expressionism" >
                <label for="abstract-expressionism">Abstract Expressionism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="expressionism" value="expressionism" >
                <label for="expressionism">Expressionism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="realism" value="realism" >
                <label for="realism">Realism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="conceptual" value="conceptual" >
                <label for="conceptual">Conceptual</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name=`"filter" type="checkbox" id="impressionism" value="impressionism" >
                <label for="impressionism">Impressionism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="surrealism" value="surrealism" >
                <label for="surrealism">Surrealism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="portraiture" value="portraiture" >
                <label for="portraiture">Portraiture</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="pop-art" value="pop-art" >
                <label for="pop-art">Pop-art</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="minimalism" value="minimalism" >
                <label for="minimalism">Minimalism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="illustration" value="illustration" >
                <label for="illustration">Illustration</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="street-art" value="street-art" >
                <label for="street-art">Street-art</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="documentary" value="documentary" >
                <label for="documentary">Documentary</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="art-deco" value="art-deco" >
                <label for="art-deco">Art-deco</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="photorealism" value="photorealism" >
                <label for="photorealism">Photorealism</label>
              </div>
              <div class="filter-content  style="display: flex;">
                <input name="filter" type="checkbox" id="folk" value="folk" >
                <label for="folk">Folk</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="cubism" value="cubism" >
                <label for="cubism">Cubism</label>
              </div>
              <div class="filter-content style="display: flex;">
                <input name="filter" type="checkbox" id="dada" value="dada" >
                <label for="dada">Dada</label>
              </div>
            
            <% end %>
            
            <div style="border: 0.1px solid rgb(236, 236, 236); margin: 8px 0; width: 90%"></div>

            <div class="category" style="margin-top: 16px;">
              <% if @filter.present? %>
                <h4 class="title">Category</h4>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="paintings" value="paintings">
                    <label for="paintings">Paintings</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="photography" value="photography" >
                    <label for="photogrpahy">Photogrpahy</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="drawings" value="drawings">
                    <label for="drawings">Drawings</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="new-media" value="new media" >
                    <label for="new-media">New Media</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="sculpture" value="sculpture" >
                    <label for="sculpture">Sculpture</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="collage" value="collage" >
                    <label for="collage">Collage</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="printmaking" value="printmaking" >
                    <label for="printmaking">Printmaking</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="installation" value="installation" >
                    <label for="installation">Installation</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name=`"filter" type="checkbox" id="video" value="video" >
                    <label for="video">Video</label>
                  </div>
                  
                <% else %>
                  
                  <h4 class="title">Category</h4>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="paintings" value="paintings">
                    <label for="paintings">Paintings</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="photography" value="photography" >
                    <label for="photogrpahy">Photogrpahy</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="drawings" value="drawings">
                    <label for="drawings">Drawings</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="new-media" value="new media" >
                    <label for="new-media">New Media</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="sculpture" value="sculpture" >
                    <label for="sculpture">Sculpture</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="collage" value="collage" >
                    <label for="collage">Collage</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="printmaking" value="printmaking" >
                    <label for="printmaking">Printmaking</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name="filter" type="checkbox" id="installation" value="installation" >
                    <label for="installation">Installation</label>
                  </div>
                  <div class="filter-content style="display: flex;">
                    <input name=`"filter" type="checkbox" id="video" value="video" >
                    <label for="video">Video</label>
                  </div>
                <% end %>
              </div>

            <div class="filter-content style="display: flex;">
              <button type="submit"><i class="fas fa-search"></i></button>
            </div>
          </form>
        </div>

        <div class="arts-cards">
          <% @arts.each do |art| %>
            <%= link_to art_path(art) do %>
              <div class="art-card">
                <% if art.photo.attached? %>
                  <%= cl_image_tag art.photo.key,height: 300, width: 250, crop: :fill, id:"photo" %>
                <% end %>
              
                <div class="art-card-price">
                  £<%= art.price %>
                </div>

                <div class="card-content" style="display:flex; justify-content:space-between;">
                  <div class="content">
                    <h5 style="font-weight:bolder;"><%= art.name %></h5>
                    <div class="line"></div>
                    <p style="margin-top: 8px; "><i class="fas fa-palette"></i> <%= art.artist %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  
  </body>
</div>
