<div class="container full-page font-oswald">
  <h1 class="text-center m-4 font-oswald">Add a new art</h1>

  <%= simple_form_for(@art) do |f| %>
    <%= f.input :name %>
    <%= f.input :artist %>

    <div style="display: flex; justify-content: space-between;">
      <%= f.input :category, collection: Art.categories.keys %>
      <%= f.input :style, collection: Art.styles.keys %>
      <%= f.input :subject, collection: Art.subjects.keys %>
    </div>

    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file, required: true, input_html: { class: 'd-none' }, label_html: { class: 'btn new-button'}, wrapper_html: { class: 'middle-button'}, label: "📷 <span class='ml-2'>Upload A Photo</span>".html_safe %>

    <div class="fr">
      <%= f.submit class: "btn new-button" %>
    </div>

    <div class="fr">
      <%= link_to 'Back', root_path, class: "btn hide-button middle-button" %>
    </div>

  <% end %>

</div>

