<div class="container pt-2">
  <div class="row">
      <div class="row-6 d-flex justify-content-center align-items-center imaage">
        <% if @art.photo.attached? %>
          <%= cl_image_tag @art.photo.key, class: "w-50" %>
        <% end %>
      </div>
      <div class="row-12 d-flex mt-2">
        <div class="bg-light p-3 contents mt-1">
            <h1 class="p-2 art-name ml-4 mt-3"><strong>"&nbsp<%= @art.name %>&nbsp"</strong></h1>
              <ul class="un-list">
              <li class="p-2 links"><strong><i class="fas fa-user"></i></strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= @art.artist %></li>
              <li class="p-2 links"><strong><i class="fas fa-location-arrow"></i></strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= "London" %></li>
              <li class="p-2 links"><strong><i class="fas fa-pound-sign"></i></strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= @art.price %></li>
              <li class="p-2 links"><strong><i class="fas fa-paint-brush"></i></strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span><%= @art.style %></span></li>
              <li class="p-2 links"><strong><i class="fas fa-truck-pickup"></i></strong>&nbsp&nbsp&nbsp&nbsp&nbsp<span>39.4 W x 59.1 H x 0.8 in</span></li>
              </ul>
            <div class="buttons d-flex justify-content-center">
               <p><%= link_to 'Purchase', new_art_purchase_path(@art), class: "btn new-button mt-4 p-2" %></p>
               <p><%= link_to 'Back', arts_path(@arts), class: "btn new-button mt-4 ml-3 p-2" %></a></p>
            </div>
            <div class="d-flex shopping-info justify-content-center">
                <p><i class="fas fa-check"></i></p>
                <p id="shopping-info">Shipping included</p>
            </div>
          </div>
            <div class="description bg-light mt-1">
           <p class="mt-3 p-3"><%= @art.description %></p>
          </div>
      </div>
    </div>

    <div class="bg-light mt-3 quotes">
        <blockquote class="blockquote text-right">
        <p class="mb-0">Art is not what you see,but what you make others see.</p>
        <footer class="blockquote-footer"><cite title="Source Title">EDGAR DEGAS</cite></footer>
        </blockquote>
    </div>
</div>



































