<div class="showpage">
  <div class="name-header">
    <h1>
      <strong><%= @art.name %></strong>
    </h1>
  </div>
  <div class=" main-container">

      <%= cl_image_tag @art.photo.key, class: "image" %>


    <div class="content-container">
      <div class="details-container">
        <ul>
          <li class="details">
            <strong>Artist name: </strong><%= @art.artist %>
          </li>
          <!-- <li>
            <strong>Description: </strong><%= @art.description  %>
          </li> -->
          <li class="details">
            <strong>Location: </strong><%= "London" %>
          </li>
          <li class="details">
            <strong>Price: </strong>£ <%= @art.price %>
          </li>
          <li class="details">
            <strong>Style: </strong><span>Fine art, Modern, Abstract</span>
          </li>
          <li class="details">
            <strong>Size: </strong><span>39.4 W x 59.1 H x 0.8 in</span>
          </li>
        </ul>
      </div>
      <div class="buttons d-flex">
          <p><%= link_to 'Purchase', new_art_purchase_path(@art), class: "btn btn-primary ml-5 mt-4" %></p>
          <p><a class="btn btn-warning mt-4 ml-2"><%= link_to 'Back', arts_path(@arts) %></a></p>
      </div>
      <div class="shipping d-flex mt-2">
        <p id="shipping-info"><i class="fas fa-check"></i></p>
        <p>Shipping included</p>
      </div>
    </div>
  </div>

    <div class="description-div">
      <div class="description">
        <%= @art.description %>
    </div>
    <div class="likes-icon">
      </div>
  </div>
</div>






